/* .As{
    display :block;
}
.As1{
    display: inline;
} */
 .container{
      border: 2px black solid;
      padding: 1%;
 }
.box {
  display: inline-block;
    width:150px;
    height: 200px;
    margin: 10px;
    text-align: center;
}
.box1 {
  background-color: yellow;
}
.box2 {
  background-color: red;
}
.box3 {
  background-color: cyan;
}