.container{
    display: flex;
    height: 600px;
    width: 1000px;
    background-color: pink;
    border: 5px solid black;
    /* flex-direction: column; */
     flex-wrap: wrap; 
    justify-content: center; 
     align-items: center; 
    align-content: center;
    gap: 10px;
    flex-grow: 1;
}
.item{
    height: 100px;
    width: 250px;
    border: 2px solid red;
    text-align: center;
    background-color: skyblue;
}
.item2{
    order: -1;
    flex-grow: 2;
    flex-shrink: 2;
}
.item8{
    order: -1;
    align-self: last baseline;
}