/* .container{
    display: flex;
    height: 600px;
    width: 1000px;
    background-color: pink;
    border: 5px solid black;
    /* flex-direction: column; */
     /* flex-wrap: wrap; 
    justify-content: center; 
     align-items: center; 
    align-content: center;
    gap: 10px;
    flex-grow: 1;
}
.item{
    height: 100px;
    width: 250px;
    border: 2px solid red;
    text-align: center;
    background-color: skyblue;
}
.item2{
    order: -1;
    flex-grow: 2;
    flex-shrink: 2;
}
.item8{
    order: -1;
    align-self: last baseline;
}  */

.container{
    display: grid;
    height: 500px;
    width: 1000px;
    background-color: aqua;
    border: 1px solid black;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(3,100px);
     grid-template-areas: "header header header header "
      " main main . sidebar" 
      "footer footer footer footer"; 
      column-gap: 10px;
       justify-items: center;
      align-items: center; 
       place-items: center; 
      justify-content: center;
      align-content: center; 
      grid: auto columns 60px;
      grid-auto-flow: row;
      
}
.item{
       height: 100px;
    width: 100px;    
    background-color: brown;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    color: white;
}
 /* .item1{
    grid-area: header;
    grid-column: 1;
    grid-row: 1/3;
}
.item2{
grid-area: main;
}
.item3{
    grid-area: sidebar;
}
.item4{
   grid-area: footer;
}   */