/* /* @media{
Syntax
} */

/* @media(max-width:1024px){
body{
    background-color: pink;
     
}

p{
    font-size: 25px;
} 
 } */
/* .box{
    width: 100%;
    height: 100px;
    background-color: aqua;

}
.tablet{
    @media( min-width: 768px){
        .box{
            width: 100%;
            height: 100px;
            background-color: maroon;
        }

    }

        
    
} */
 /* @media{
Syntax
} */

/* @media(max-width:768px){
.box
{
    width: 100%;
    height: 100px;
    background-color:pink;
}
}
 @media(min-width:768px){
    .box{
          width: 100%;
    height: 100px;
        background-color: red;
    }
}

li{
    list-style-type: none;
}
@media (min-width: 320px) and (max-width:720px) {
nav ul{
    display: flex;
    justify-content: space-around;}
    nav ul{
    display: flex;
    flex-direction: column;}





    
}
h5{text-align: center;
    
}
@media (min-width: 320px) and (max-width:720px){
    border-color: red;
    background-color: black; 
    color: white;
  
}.menu{display: none;}
.hamburger{display: none;} */ 
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    padding: 1rem;
}
.logo{
    color: blue;
    font-size: 1.5rem;

}
.menu{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
  right: 20px;
  width: 200px;
}
.menu a{color: blueviolet;
    padding: 1rem;
    text-decoration: none;
    display: block;
    

}
.hamburger{
    font-size: 2rem;
    color: bisque;
    cursor: pointer;
}
@media(min-width:768px){
    .menu{
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        width: auto;
    }
    .hamburger{
        display: none;
    }
}

